$color1: #150004;
$color2: #31081f;
$color3: #6b0f1a;

body {
  background-color: $color1
}



.btn-primary {
  background: $color3 !important;
  color: white !important;
  border: 2px solid $color1 !important;
}

.btn-link {
  color: white !important;
}

.bg-clr-footer {
  background-color: $color3 !important;
}

.bg-clr-header {
  background-color: $color1 !important;
}
